<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.windows.forms jitDebugging="true"/>
    <startup useLegacyV2RuntimeActivationPolicy="true">
		<runtime>

			<AppContextSwitchOverrides value="Switch.System.Net.DontEnableSchSendAuxRecord=true"/>

		</runtime>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
</configuration>
